<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body data-gr-c-s-loaded="true" style="margin: 0px;">
   {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
    {% endwith %}

   {% if session['logged_in'] and session['Security_Level'] >= 1%}
          <table border="1">
             <thead>
                   <td>Name Of Baking Item</td>
                   <td>Number of Excellent Votes</td>
                   <td>Number of Ok Votes</td>
                   <td>Number of Bad Votes</td>
             </tr></thead>
              <tbody>
              {% for row in rows %}
              <tr>
                   <td> {{row["NameOfBakingItem"]}}</td>
                   <td> {{row["NumExcellentVotes"]}}</td>
                   <td>{{row["NumOkVotes"]}}</td>
                   <td>{{row["NumBadVotes"]}}</td>
                </tr>
          {% endfor %}
              </tbody>
          </table>
        <h2> <a href="/">Go back to home page</a> </h2>
        <h2> <a href="/logout">Logout</a> </h2>

    {% else %}
        <h2>Page not found</h2>
    {% endif %}

</body></html>