<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body data-gr-c-s-loaded="true" style="margin: 0px;">
   {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
    {% endwith %}

   {% if session['logged_in'] and session['Security_Level'] >= 3 %}

      <table border="1">
         <thead>
               <td>Entry ID</td>
               <td>User ID</td>
               <td>Name Of Baking Item</td>
               <td>Number of Excellent Votes</td>
               <td>Number of Ok Votes</td>
               <td>Number of Bad Votes</td>
         </tr></thead>
          <tbody>
          {% for row in rows %}
          <tr>
               <td> {{row['EntryID']}}</td>
               <td> {{row['UserID']}}</td>
               <td> {{row["NameOfBakingItem"]}}</td>
               <td> {{row["NumExcellentVotes"]}}</td>
               <td>{{row["NumOkVotes"]}}</td>
               <td>{{row["NumBadVotes"]}}</td>
            </tr>
      {% endfor %}
          </tbody>
      </table>
      <a href="/">Go back to home page</a>


    {% else %}
        <h2>Page not found</h2>
    {% endif %}

</body></html>